/* Todos los HTML*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 221, 221);
}

/*---------------------------------------- NAV*/
.navbar{
    border-bottom: 3px solid white;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.8);
    
}

.nav-item {
    font-size: 25px;
    margin: 10px;
}

.container-fluid {
    background-color:rgb(80, 80, 80);
}

 .container-fluid a:hover{
    background-color: orange;
}


.textoP {
    background-color: rgba(0,0,0,.7);
}

.textoP h1 {
    font-size: 50px;
    color: orange;
    line-height: 70px;
    margin:70px 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.textoP p {
     font-size: 15px;
     text-transform: uppercase;
     padding-bottom: 20px;
     font-weight: 500;

}

.presentacion {
    margin-bottom: 30px;
}

/* --------------------------------------- FOOTER*/

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}


footer .footer-top {
    background: #4e4e4e;
    padding: 50px 0px 20px;
}

footer .address p {
    font-size: 16px;
    color: #ddd;
    font-style: italic;
    float:left;
}

footer h3 {
    color:orange
}

footer h4 {
    font-size: 18px;
    color: orange;
    padding-bottom: 12px;
}

footer .footer-menus {
    margin-bottom: 30px;
}

footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-menus ul li {
    margin-bottom: 10px;
}

footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}

footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menus ul a:hover {
    color: orange;
}

.footer-bottom {
    padding: 20px 0px;
    background-color: #3a3a3a;
}

footer .footer-bottom a {
    color: #3a3a3a;
    text-decoration: none;
}

/* --------------------------------------- FIN FOOTER*/


/* --------------------------------------- HOME*/

/*Cards servicios*/

.servicios {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-area {
    padding: 80px 0;
}

.card {
    overflow: hidden;
    border-radius: 15px;
    border: 10px solid #fff;
}

.im1 img {
    height: 275px;
    width: 100%;
}

.card:hover img {
    border-color: orange;
    transition: 1s;
}

.card:hover {
    border-color: orange;
    transition: 1s;
}

.card:hover {
    transform: scale(1.04);
}

.main-text {
    padding: 30px 0;
    text-align:center;
}

.main-text h2 {
    color: orange;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}

.main-text p {
    font-size: 16px;
    padding: 0 35px;
    margin: 0 0 20px
}

/*Fin cards servicios*/



/* --------------------------------------- CONTACTO*/
.gridContacto {
    display: grid;
    grid-template-columns: 30% 69%;
    gap: 80px;
}

.contacto{
    font-family: "Roboto";
    color: grey;
    padding: 30px;
}

.contacto label{ 
    font-weight: bold;
}

.contacto div{
    margin-bottom: 15px;
}

.contacto input[type='text'], .contacto textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
    margin: 5px;
}

.contacto input[type='submit']{
    border: 1px solid orange;
    box-shadow:0 0 0 3px white;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color:orange;
}

.contacto input[type='submit']:hover{
    background: orange;
}

.contacto input[type='submit']:active{
    background: grey;
}

.contacto input:hover {
    background-color: rgb(255, 226, 172);
}
/* --------------------------------------- FIN CONTACTO*/
 

/* --------------------------------------- MEDIA QUERIES*/

/*Media Queries Contacto*/
@media (max-width: 1023px) {
    .gridContacto {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

@media (max-width: 1023px) {
    .gridContacto .contacto {
        width: 90%;
        text-align: center;
        margin: auto;
}
}

@media (max-width: 1023px) {
    .gridContacto .mapa {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
}
}

/* --------------------------------------- FIN MEDIA QUERIES*/
