
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #3a3a3a;
    text-decoration: none;
    border: 2px solid #3a3a3a;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}


button:hover {
    background-color: #3a3a3a; 
    color: #ffffff;

}

body {
   
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.centrar {
    text-align: center;
}


.contenido {
    padding: 40px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 221, 221);
}


.navbar{
    border-bottom: 3px solid white;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.8);
    
}

.nav-item {
    font-size: 25px;
    margin: 10px;
}

.container-fluid {
    background-color:rgb(80, 80, 80);
}

 .container-fluid a:hover{
    background-color: #230397;
}



.textoP {
    background-color: rgba(0,0,0,.7);
}

.textoP h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    line-height: 70px;
    margin:70px 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.textoP p {
     font-size: 15px;
     text-transform: uppercase;
     padding-bottom: 20px;
     font-weight: 500;

}

.presentacion {
    margin-bottom: 30px;
}



footer {
    background: #3a3a3a;
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-bottom {
    padding: 20px 0px;
}

footer .footer-bottom a {
    color: #cddc39;
    text-decoration: none;
}



