@import url('https://fonts.googleapis.com/css?family=Numans');

/* Todos los HTML*/
* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(221, 221, 221);
}

/*---------------------------------------- NAV*/
.navbar{
    border-bottom: 3px solid white;
    box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.8);
    
}

.nav-item {
    font-size: 25px;
    margin: 10px;
}

.container-fluid {
    background-color:rgb(80, 80, 80);
}

 .container-fluid a:hover{
    background-color: orange;
}


.textoP {
    background-color: rgba(0,0,0,.7);
}

.textoP h1 {
    font-size: 50px;
    color: orange;
    line-height: 70px;
    margin:70px 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.textoP p {
     font-size: 15px;
     text-transform: uppercase;
     padding-bottom: 20px;
     font-weight: 500;

}

.presentacion {
    margin-bottom: 30px;
}

/* --------------------------------------- FOOTER*/
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .footer-top {
    background: #4e4e4e;
    padding: 50px 0px 20px;
}

footer .address p {
    font-size: 16px;
    color: #ddd;
    font-style: italic;
    float:left;
}

footer h3 {
    color:orange
}

footer h4 {
    font-size: 18px;
    color: orange;
    padding-bottom: 12px;
}

footer .footer-menus {
    margin-bottom: 30px;
}

footer .footer-menus ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .footer-menus ul li {
    margin-bottom: 10px;
}

footer .footer-menus ul i {
    color: #ffffff;
    font-size: 12px;
    margin-right: 3px;
}

footer .footer-menus ul a {
    color: #fff;
    text-decoration: none;
}

footer .footer-menus ul a:hover {
    color: orange;
}

.footer-bottom {
    padding: 20px 0px;
    background-color: #3a3a3a;
}

footer .footer-bottom a {
    color: #3a3a3a;
    text-decoration: none;
}

/* --------------------------------------- FIN FOOTER*/



html,body{
height: 100%;
font-family: 'Numans', sans-serif;
}

main {
margin: 80px;
}
.container{
height: 100%;
align-content: center;
}

.cards{
height: 280px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}